@page
@{
    ViewData["Title"] = "Non-Player & Environmental Kills";
}

<h4>Non-Players</h4>
<ul>
    <li><span title="Bot">&#129302;</span> <a href="NonPlayer/BOT">BOT</a></li>
    <li><span title="Bear">&#128059;</span> <a href="NonPlayer/Bear">Bear</a></li>
    <li><span title="Commander">&#128130;</span> <a href="NonPlayer/Commander">Commander</a></li>
    <li><span title="Guard">&#128130;</span>    <a href="NonPlayer/Guard">Guard</a></li>
</ul>
<h4>Zones</h4>
<ul>
    <li><span title="Blue Zone">&#128309;</span> <a href="NonPlayer/BlueZone">Blue Zone</a></li>
    <li><span title="Red Zone">&#128308;</span> <a href="NonPlayer/RedZone">Red Zone</a></li>
    <li><span title="Black Zone">&#128995;</span> <a href="NonPlayer/BlackZone">Black Zone</a></li>
</ul>
<h4>Other Death Types</h4>
<ul>
    <li><span title="Helicopter Hit">&#128641;</span> <a href="NonPlayer/Helicopter">Helicopter</a></li>
    <li><span title="Drowning">&#128705;</span> <a href="NonPlayer/Drowning">Drowning</a></li>
    <li><span title="Jerry Can">&#9981;</span> <a href="NonPlayer/JerryCan">Jerry Can</a></li>
    <li><span title="Suicide">&#128128;</span> <a href="NonPlayer/Suicide">Suicide</a></li>
    <li><span title="Lava">&#9832;&#65039;</span> <a href="NonPlayer/Lava">Lava</a></li>

</ul>